{{#each brawlBars}}
<details {{#if @last}}open{{/if}}>
    <summary>{{this.attribute}}</summary>
    <div id="{{this.id}}">
        {{> "modules/barbrawl/templates/bar-config-minimal.hbs" displayModes=../displayModes
        barAttributes=../barAttributes}}

        <div class="form-group">
            <label>{{localize "barbrawl.config.advanced"}}:</label>
            <button type="button" class="brawlbar-extend">
                <i class="fas fa-cogs"></i>
                <label>{{localize "barbrawl.config.advancedButton"}}</label>
            </button>
        </div>
    </div>
</details>
{{/each}}