<div class="attribute bar2 resource-input">
    {{#each topBars}}
    <input type="text" style="border: 1px solid {{this.maxcolor}};" name="flags.barbrawl.resourceBars.{{this.id}}.value" data-bar="{{this.id}}" value="{{this.value}}">
    {{/each}}
</div>

<div class="attribute bar1 resource-input">
    {{#each bottomBars}}
    <input type="text" style="border: 1px solid {{this.maxcolor}};" name="flags.barbrawl.resourceBars.{{this.id}}.value" data-bar="{{this.id}}" value="{{this.value}}">
    {{/each}}
</div>