{{> modules/barbrawl/templates/bar-config.hbs this}}
<button type="button" class="brawlbar add"><i class="far fa-plus-square"></i> {{localize "barbrawl.add"}}</button>
<button type="button" class="brawlbar save"><i class="far fa-save"></i> {{localize "barbrawl.save"}}</button>