.resource-input input[type="text"] {
    width: 40%;
    height: 30px;
    font-size: 20px;
    margin: 2px;
    min-width: 40px;
}

.resource-input input:disabled {
    color: #aaa;
}

.token-sheet .tab[data-tab="resources"] label {
    white-space: nowrap;
}

.token-sheet .tab[data-tab = "resources"] .form-fields label {
    display: flex;
}

button.brawlbar {
    line-height: 24px;
    width: 90%;
    margin-left: 5%;
}

button.brawlbar.save {
    margin-bottom: 5px;
}

form .form-group .form-fields button.barbrawl-reset {
    flex: 1;
}