.resource-input input[type="text"] {
    width: 40%;
    height: 30px;
    font-size: 20px;
    margin: 2px;
    min-width: 40px;
}

.resource-input input:disabled {
    color: #aaa;
}

.token-sheet .tab[data-tab="resources"] label,
.brawlbar-configuration label {
    white-space: nowrap;
}

.token-sheet .tab[data-tab="resources"] .form-fields label,
.brawlbar-configuration .form-fields label {
    display: flex;
}

input.indent-input {
    text-align: right;
    width: 32px;
    margin-right: 1px;
}

.bar-controls {
    margin: 0 5%;
}

.bar-controls button.brawlbar-add {
    flex: 1 1 100%;
}

form .form-group .form-fields button.barbrawl-reset {
    flex: 1;
}